.tb_rpt_head_th {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    font-size : 13px;
    font-family : Courier;
    font-weight : bold;
    padding : 3px;
}

.tb_rpt_row_td {
    font-size : 12px;
    font-family : Courier;
    padding: 5px;
    margin : 3px;
    border-bottom : 1px dotted #AAA;
}

.tb_rpt_head_tr{

}

.tb_rpt_row_td_alt{
    font-size : 12px;
    font-family : Courier;
    padding: 5px; 
    margin : 3px;
    border-bottom : 1px dotted #AAA;
}

#head {
    text-align : center;
    font-family: Times;
    font-size : 24px;
    font-weight : bold;
    padding : 3px;
}

#page {
    width: 210mm;
    height: 272mm;
}

#page_letter{
    width: 211mm;
    height: 270mm;
    padding: 5mm;
}

#page_letter2{
    width: 211mm;
    height: 267mm;
    padding: 5mm;
}

#header_letter{
    height: 33mm;
}

#footer_letter{
    border-top: 1px solid #000;
    height: 20mm;
    padding-top: 7px;
    font-size: 9px;
    text-align: right;
}

#body_letter{
    height: 230mm;
    font-family: Courier;
}

#det td{
    padding-bottom: 10px;
}

#job_no {
    font-family: Arial;
    font-size: 12px;
    padding-top: 25mm;
    padding-left: 170mm;
}

#cus {
    height: 40mm;
}

body {
    margin: 0px;
}

#company {
    font-size: 18px;
    font-family: Times;
    text-align: center;
    letter-spacing: 5px;
    padding: 7px;
}

#heading{
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-family: Arial;
    letter-spacing: 2px;
}

#address{
    text-align: center;
}

#r_view2{
    width: 1100px;
    margin: auto;
    box-shadow: 0px 0px 8px #AAA;
    -moz-box-shadow: 0px 0px 8px #AAA;
    -webkit-box-shadow: 0px 0px 8px #AAA;
    padding: 7px;
	margin-top:10px;
	border-radius:5px;
	background:#EDEDED;
}

/*#greport{ text-align:-moz-center;}*/